@import "tailwindcss";

.snake {
  @apply bg-green-500 border-orange-50 border-2 rounded-[40%]
}

.food {
  background-color: red;
  border-radius: 999px;
  width: 50%;
  height: 50%;

}

.cells {
  border: none
}

.snake-head {
  @apply rounded-[40%] bg-gradient-to-br from-green-600 via-green-500 to-red-600
}